{% include "project/emails/head.html" %}
{% include "project/emails/bodyStart.html" %}
<span class="preheader">Use this link to reset your password. The link is only valid for 2 hours.</span>
<table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">
      <table class="email-content" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td class="email-masthead">
            <a href="http://localhost:8000/" class="email-masthead_name">
              PokerFace
            </a>
          </td>
        </tr>
        <!-- Email Body -->
        <tr>
          <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
            <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">
              <!-- Body content -->
              <tr>
                <td class="content-cell">
                  <h1>Hi,</h1>
                  <p>You (or someone else) entered this email address when trying to change the password for a PokerFace
                    account.</p>
                  <p>However, this email address is not corresponding to any Pokerface's registered users and therefore
                    the attempted password change has failed.</p>
                  <p>If you are a PokerFace customer and were expecting this email, please try again using the email
                    address you gave when opening your account.</p>
                  <p>If you are not a PokerFace customer, please ignore this email.</p>
                  <p>For security, this request was received from {{ ip_address }} on a {{ operating_system }} device
                    using {{ browser_name }}.</p>
                  <p>You can <a href="{{ support_url }}">contact support</a> if you have questions.</p>
                  <p>Kind regards,
                    <br>The PokerFace Team</p>
                  <!-- Sub copy -->
                  <table class="body-sub">
                    <tr>
                      <td>
                        <p class="sub">If you’re having trouble with the support link above, copy and paste the URL
                          below into your web browser.</p>
                        <p class="sub">{{ support_url }}</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            {% include "project/emails/footercontent.html" %}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
